SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TSTopics_BKU_20040319101939]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[TSTopics_BKU_20040319101939](
	[TopicId] [uniqueidentifier] NOT NULL,
	[TopicName] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TopicSearchTerm] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EditableTopicSearchTerm] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[updateuserID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[updateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
