SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TMPnewsLetterSENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[TMPnewsLetterSENT](
	[nciviewid] [uniqueidentifier] NULL,
	[userid] [uniqueidentifier] NULL,
	[result] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[actiondate] [datetime] NULL
) ON [PRIMARY]
END
GO
